@import "tailwindcss";
@import "fumadocs-ui/css/vitepress.css";
@import "fumadocs-ui/css/preset.css";

@theme inline {
  --color-fd-primary: var(--ui-color);
}

:root {
  --ui-color: hsl(187, 84%, 60%);
}

.dark {
  --color-fd-primary: var(--ui-color);
}
