@import "tailwindcss";
@import "fumadocs-ui/css/vitepress.css";
@import "fumadocs-ui/css/preset.css";

@theme inline {
  --color-fd-primary: var(--ui-color);
}
:root {
  --ui-color: hsl(190.91deg 65.35% 60.39%);
}

.dark {
  --ui-color: hsl(190.91deg 65.35% 60.39%);
}
